/* The "*" rule applies this style to all elements in the .index.html page .*/

* {
  margin: 0px;
  padding: 0px;
}
body {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #171717;
  background-image: url(../img/bg-tile.jpg);
  background-repeat: repeat-x;
  font-size: 16px;
  line-height: 1.5em;
}
#container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #ccc;
}

/* Please let me know if there is a better way to go about this sir. I feel like I may have went about this the wrong way. */
#header {
  background-image: url(../img/headerimage.jpg);
}
#header h1 a {
  display: block;
  width: 800px;
  height: 140px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
/* End of question */

#nav {
  background-color: #000;
}
#nav ul {
  list-style-type: none;
  margin-left: 10px;
}
#nav ul li {
  display: inline;
  height: 35px;
  line-height: 35px;
}
#nav ul li a {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
}
#nav ul li a:link,
#nav ul li a:visited {
  text-decoration: none;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  color: #fff;
}
#nav ul li a:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
}
#content {
  margin: 20px;
}
#content p {
  margin-top: 5px;
  margin-bottom: 15px;
}
#footer {
  background-color: #000;
  color: #fff;
  height: 30px;
}

#footer h6 {
  font-size: 12px;
  line-height: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

/* Added assignment Styles Below */
.alert {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    #4e4401,
    rgb(131, 118, 2)
  );
  box-shadow: 10px 10px 5px #888888;
  color: rgb(241, 48, 0);
  border-radius: 50px 50px;
  padding: 10px;
}

#content h2 {
  color: rgb(252, 251, 251);
  background-color: #000000;
  padding: 10px;
  text-align: center;
  text-decoration: underline;
}

#content h3 {
  color: rgb(218, 216, 216);
  background-color: #000000;
  text-align: center;
  padding: 10px;
}

/* Used AI to help generate gradient */
#content h4 {
  color: #f7f5f5;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    #4e4401,
    rgb(131, 118, 2)
  );
  border-radius: 50px 50px;
  padding: 10px;
  text-align: center;
  box-shadow: 10px 10px 5px #888888;
}

#footer a {
  color: #08b8ee;
  text-decoration: none;
}

#footer p {
  text-align: center;
}

dt {
  font-weight: bold;
  text-decoration: underline;
}

dd {
  margin-bottom: 15px;
  font-style: italic;
}

.question3 a {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  margin: 20px;
}

.question3 a:hover {
  color: #08bbf1;
  text-decoration: underline;
}

/* Is it okay to use pixels for sizing the image or should we use something that scales better? */
#content img {
  float: right;
  border: 2px solid #000000;
  height: 190px;
}

h6 {
  color: white;
}

footer {
  text-align: right;
}
