/* Global styles */

* {
  margin: 0px;
  padding: 0px;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: #f7f5f5;
  line-height: 1.6;
  padding: 20px;
}

h1{
    background-color: rgb(31, 30, 30);
    color: white;
    padding: 10px;
    border-radius: 50px 50px;
    
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #f7f5f5;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: aqua;
}

.className{
    color:aquamarine
}

/* Card stylrd */


.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin:20px;
}

.card {
  background: rgb(59, 59, 59);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin:20px;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
}

.card-content p {
  color: #e4e2e2;
  font-size: 0.95rem;
}

.card-content a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  background: #007BFF;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 0.9rem;
  transition: background 0.3s ease;
}

.card-content a:hover {
  background: #0056b3;
}

h3{
    color:aquamarine;
    text-decoration: underline;
}
