/* Global styles */

* {
  margin: 0px;
  padding: 0px;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: #f7f5f5;
  line-height: 1.6;
  padding: 20px;
}

h1{
    background-color: rgb(8, 8, 8);
    color: white;
    padding: 10px;
    border-radius: 50px 50px;
    
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #f7f5f5;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: aqua;
}