/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main {
width:80vw;
margin: 20px auto;
border: 1px solid #000;  
background-color: blanchedalmond;
}

header.primary, footer.primary{
/*  width:920px; */
 width:95.833%;
 margin: 2.0833%;
 padding: 20px;
 float: left; 
 background-color: black;
 color:white;
}

#blog{
/*   width:638px; */
  width: 66.4583%;
  margin-left: 2.0833%;
  padding: 20px;
  float: left;

}

aside {
  width: 27.2916%;
  margin-left: 2.0833%;
  padding: 20px;
  float: left;
  background-color: black;
  color: white;
}